fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
alembic
speechbrain
huggingface_hub>=1.3,<1.8
torch
torchaudio
openai-whisper
gTTS
pydub
soundfile
phe
pynacl
numpy
librosa
scipy
sounddevice
redis
streamlit
httpx
authlib
python-jose[cryptography]
twilio
transformers
unidecode
python-dotenv
python-multipart
pytest
